## Helper Functions

In [8]:
from IPython.display import display, HTML

def display_side_by_side(*dfs):
    html_str = ''
    for df in dfs:
        html_str += df.to_html().replace('table', 'table style="display:inline"')
    display(HTML(html_str))

Different ways to merge:

- merge
- join
- concat

## Sample Code

In [12]:
import pandas as pd

# DataFrame 1
date_range = pd.date_range(start='2023-01-01', end='2023-01-05')
df1 = pd.DataFrame({'Value1': [10, 20, 30, 40, 50]}, index=date_range)

# DataFrame 2
date_range = pd.date_range(start='2023-01-03', end='2023-01-07')
df2 = pd.DataFrame({'Value2': [100, 200, 300, 400, 500]}, index=date_range)

# DataFrame 3
date_range = pd.date_range(start='2023-01-04', end='2023-01-08')
df3 = pd.DataFrame({'Value3': [1000, 2000, 3000, 4000, 5000]}, index=date_range)

In [13]:
display_side_by_side(df1,df2,df3)

## Merge

In [17]:
merged_df = pd.merge(df1, df2, left_index=True,right_index=True,how='outer')
final_df = pd.merge(merged_df, df3, left_index=True,right_index=True,how='outer')

In [18]:
final_df

            Value1  Value2  Value3
2023-01-01    10.0     NaN     NaN
2023-01-02    20.0     NaN     NaN
2023-01-03    30.0   100.0     NaN
2023-01-04    40.0   200.0  1000.0
2023-01-05    50.0   300.0  2000.0
2023-01-06     NaN   400.0  3000.0
2023-01-07     NaN   500.0  4000.0
2023-01-08     NaN     NaN  5000.0

## Join

## Concat